contourpy==1.3.1
cycler==0.12.1
fonttools==4.56.0
kiwisolver==1.4.8
matplotlib==3.10.1
numpy==2.2.4
opensimplex==0.4.5.1
packaging==24.2
pillow==11.1.0
pyparsing==3.2.1
pyqt5==5.15.11
pyqt5-qt5==5.15.16
pyqt5-sip==12.17.0
python-dateutil==2.9.0.post0
scipy==1.15.2
six==1.17.0
